@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100dvh;
}

main {
  padding: 1em;
}

input,
select {
  @apply py-3 pr-2 md:py-4 md:pr-4 w-full rounded-[0.25em] bg-gray-200 text-gray-900 outline-none pl-3 md:pl-4;
}

nav a.active {
  @apply text-primary;
}

.brand--radius {
  @apply rounded-bl-none;
}
